body, html {
    height: 100%;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.nopadding {
    padding: 0 !important;
    margin: 10px !important;
}

.background {
    background-color: rgba(0,0,0,0.75);
    background-image: url('/images/background-flowers.png');
    background-blend-mode: darken;

    /* Full height */
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vertical-center {
    display: flex;
    align-items: center;
}

#post {
    font-family: 'Quattrocento', serif;
    font-size: 16px;
    font-weight: regular;
}

#post .username {
    color: #4B5D40;
    font-weight: bold;
}

#post .comment {
    color: #323232;
}

#post .timestamp {
    font-size: 15px;
    color: rgb(50,50,50,0.6);
}

#picture {
    padding: 0;
}

#picture img {
    max-height: 100vh;
}

#picture img {
    width: 100%;
    height: auto;
}

#meta {
    background-color: white;
}

#meta div {
    margin: 10px 0 10px 0;
}
